<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/img/tabicon.png">
    <title>IGEN | Home</title>
    @Styles.Render("~/Content/Site.css")
    @RenderBody()
    @RenderSection("scripts", required: false)
</head>
<body>

</body>
</html>
