<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IGEN | Home</title>
    <link rel="stylesheet" href="~/Content/Site.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <a id="a1" href="index.html"><img id="logo" src="~/Content/img/IGEN_red.png" alt="logo" /></a>
        <a id="a2" href="index.html"><p><i class="fa fa-home" aria-hidden="true"></i>Home</p></a>
        <a id="a3" href="magazine.html"><p><i class="fa fa-book" aria-hidden="true"></i>The Magazine</p></a>
        <a id="a33" href="#"><p>More<i class="fa fa-angle-double-down" aria-hidden="true"></i></p></a>
        <a id="a4" href="#"><p><i id="topsearch" class="fa fa-search" aria-hidden="true"></i>Search</p></a>
        <p id="a5"><a href="login.html">Log in</a><br /><a href="register.html">Register</a></p>
        <i id="a6" class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div id="search">
        <input type="text">
    </div>
    <div id="more">
        <a id="m1" href="about.html"><p>About Us</p></a>
        <a id="m2" href="contact.html"><p>Contact</p></a>
        <a id="m3" href="press.html"><p>Press</p></a>
    </div>
    <div id="content">
        <a id="mainpic" href="article.html"><img id="pic1" src="https://cdn.mos.cms.futurecdn.net/eZ6pqBFQtymNTiksWQCJWo-650-80.jpg" alt="main headline" /></a>
        <h1 id="head1"><a href="article.html">The return of Battlefield in 2018</a></h1>
        <h1 id="mostread">Most read</h1>
        <a class="sidepic1" href="article.html"><hr id="hr1"><img class="sidepic1" src="https://cdn.mos.cms.futurecdn.net/UzN3i83teDGM3RvvtDyuxf-650-80.jpg" alt="most read 1" /><hr></a>
        <h1 class="sidehead1"><a class="sidehead1" href="article.html">Fortnite is the most played game right now</a></h1>
        <a class="sidepic2" href="article.html"><img class="sidepic2" src="https://cdn.mos.cms.futurecdn.net/L2mvXrVt3psHHM7fM2LWaD-650-80.jpg" alt="most read 1" /><hr></a>
        <h1 class="sidehead2"><a class="sidehead2" href="article.html">The GTX 1060 is only $199 for a limited time</a></h1>
        <a class="sidepic3" href="article.html"><img class="sidepic3" src="https://cdn.mos.cms.futurecdn.net/mW35CbYGMypUDBpG3dcJgU-320-80.jpg" alt="most read 1" /><hr></a>
        <h1 class="sidehead3"><a class="sidehead3" href="article.html">Radical Heights is the hottest new battle royale</a></h1>
        <a id="showmore" href="#"><p>Show more<i class="fa fa-angle-double-down" aria-hidden="true"></i></p></a>
    </div>
    <hr id="cutmain">
    <div id="cards">
        <a id="cpa1" href="article.html"><img id="cardpic1" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="cha1" href="article.html"><h1 id="cardheader1">How to beat Dark Souls on the hardest difficulty</h1></a>
        <a id="cpa2" href="article.html"><img id="cardpic2" src="https://cdn.mos.cms.futurecdn.net/CKJ7Hr2SNqSS2qzQXVWXqk-970-80.jpg" alt="card" /></a>
        <a id="cha2" href="article.html"><h1 id="cardheader2">Why Spy Party is the perfect party game</h1></a>
        <a id="cpa3" href="article.html"><img id="cardpic3" src="https://cdn.mos.cms.futurecdn.net/UdhMEZXfn7QfQRY3bmuVmT-320-80.jpg" alt="card" /></a>
        <a id="cha3" href="article.html"><h1 id="cardheader3">The best SSDs</h1></a>
        <a id="cpa4" href="article.html"><img id="cardpic4" src="https://cdn.mos.cms.futurecdn.net/rQrNs6CKLRCrHLEQSkWLPf-320-80.jpg" alt="card" /></a>
        <a id="cha4" href="article.html"><h1 id="cardheader4">The best mech games</h1></a>
        <a id="cpa5" href="article.html"><img id="cardpic5" src="https://cdn.mos.cms.futurecdn.net/zfxJRd7DvVzzArJBjZu9KK-320-80.jpg" alt="card" /></a>
        <a id="cha5" href="article.html"><h1 id="cardheader5">Becoming pro at Overwatch</h1></a>
        <a id="cpa6" href="article.html"><img id="cardpic6" src="https://cdn.mos.cms.futurecdn.net/FFkcencjSbfBahaoCDxDvn-320-80.gif" alt="card" /></a>
        <a id="cha6" href="article.html"><h1 id="cardheader6">The indie games of 2018</h1></a>
    </div>
    <h1 id="justposted">Just posted</h1>
    <hr id="cutcards">
    <div id="recent">
        <div id="vr"></div>
        <a id="rpa1" href="article.html"><img id="recentpic1" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="rha1" href="article.html"><h1 id="recentheader1"><span class="date">HH:MM - DDth M</span><br />How to beat Dark Souls on the hardest difficulty</h1></a>
        <a id="rpa2" href="article.html"><img id="recentpic2" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="rha2" href="article.html"><h1 id="recentheader2"><span class="date">HH:MM - DDth M</span><br />How to beat Dark Souls on the hardest difficulty</h1></a>
        <a id="rpa3" href="article.html"><img id="recentpic3" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="rha3" href="article.html"><h1 id="recentheader3"><span class="date">HH:MM - DDth M</span><br />How to beat Dark Souls on the hardest difficulty</h1></a>
        <a id="rpa4" href="article.html"><img id="recentpic4" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="rha4" href="article.html"><h1 id="recentheader4"><span class="date">HH:MM - DDth M</span><br />How to beat Dark Souls on the hardest difficulty</h1></a>
        <a id="rpa5" href="article.html"><img id="recentpic5" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="rha5" href="article.html"><h1 id="recentheader5"><span class="date">HH:MM - DDth M</span><br />How to beat Dark Souls on the hardest difficulty</h1></a>
        <a id="rpa6" href="article.html"><img id="recentpic6" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
        <a id="rha6" href="article.html"><h1 id="recentheader6"><span class="date">HH:MM - DDth M</span><br />How to beat Dark Souls on the hardest difficulty</h1></a>
    </div>
    <div id="socialmedia">
        <p>Visit us on social media</p>
        <a id="spa1" href="https://facebook.com"><img src="images/facebook.png" alt="facebook" /></a>
        <a id="spa2" href="https://twitter.com"><img src="images/twitter.png" alt="facebook" /></a>
        <a id="spa3" href="https://instagram.com"><img src="images/instagram.png" alt="facebook" /></a>
        <a id="spa4" href="https://youtube.com"><img src="images/youtube.png" alt="facebook" /></a>
    </div>
    <div id="footer">
        <img id="footerlogo" src="images/IGEN_red_text.png" alt="logo" />
        <p id="fp1"><a href="index.html">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
        <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
        <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
    </div>

    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>